:root {
    --ff-primary: "Times New Roman", sans-serif;
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);
    --fw-regular: 400;
    --fw-nav: 500;
    --fw-bold: 700;
    --fs-300: 0.8rem;
    --fs-600: 1rem;
    --fs-900: 1.4rem;
    --clr-neutral: #ab8888;
    --clr-nice: #332233;
    --clr-bright: #111122; 
    --clr-low: #cc8c00; 
	--clr-back: #cecece; 
    --size-400: 1rem;
}

*,
    *::before,
    *::after {
        box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font:inherit;
}

html:focus-within {
    scroll-behavior: smooth;
}

html, body {
    /*
  height: 100%;
  */
  font-size:calc(12px + 1.5vw);
}

body {
  margin: 0 1em;
  max-width: 95vw;
  text-rendering: optimizeSpeed;
  font-family: var(--ff-body);
  color: var(--clr-neutral);
  background-color: var(--clr-back);
}

h1 {
  font-size: var(--fs-900);
  color: var(--clr-bright);
}
h2 {
  font-size: var(--fs-700);
  color: var(--clr-nice);
}
p {
  font-weight: var(--fw-regular);
  font-size: var(--fs-300);
}
ul {
  background: #44FF00;
}
li {
  color: var(--clr-bright);
  background: #77DD00;
}
audio {
  background-color: brown;   
}
video {
  background-color: var(--clr-back);
  border: black solid 0.1em;
  padding: 0.2em;
}
footer {
	padding-top: 1em;
	margin-left: inherit;
}

@media screen and (orientation: portrait) {
 video {
     max-height: 10em;
     width: auto;
 } 
}

@media screen and (orientation: landscape) {
  video {
      max-width: 22em;
      height: auto;
  }
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
        scroll-behavior: auto;
  }
    *,*::before,*::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
  }
}
